:root{
    --main-color-: white;
    --main-color-Brown-: #757575 ;
    --main-color-blue-: #2196F3;
    --main-color-black: #212121;

}

body{
    font-family: 'Roboto', sans-serif;
    color: #757575 ;
    margin: 0;
    
}

ul{
     list-style: none;
     margin: 0;
     padding: 0;
}

a{
    text-decoration: none;
    color: unset;
}

img{
    display: block;
    max-width: 100%;
    height: auto;
}

p, h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: 0;
}

.link-anset{
    color: unset;
}

list{
    padding: 0;
    margin: 0;
    list-style: none;
}

button{
    cursor: pointer;
    border: 0;
}

.container{
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  
  outline: 2px solid red;
}

.header {
    background: #FFFFFF;
    padding-top: 24px;
    padding-bottom: 24px;
    width: 1600px;
}

.color-logo{
color: black;
}

.header-nav {
}
.container-header{
display: flex;
align-items: center;
}

.logo {
    font-family: Raleway;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--main-color-blue-);
    justify-content: center;
    align-items: center;
    display: inline-block;
    margin-right: 93px;
}

.header-list{
font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
color: var(--main-color-black);
display: flex;
}

.header-item{
}

.header-item:not( :last-child){
margin-right: 50px;

}

.header-item:hover {
    color:var(--main-color-blue-);
}

.header-list-link{
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;  
    display: flex;
    margin-left: auto;
}

.option-item:not(:last-child){
 margin-right: 8px;
}

.header-li:not( :last-child){
margin-right: 50px;
}

.header-li{
}   

.header-link-item{
margin-right: 10px;
}

.header-link-item:hover{
    color: var(--main-color-blue-)
}

.heder-link-item:not( :last-child){

}

.heder-link-item:hover{
color: #2196F3;
}

.header-item-link:hover{
    color: var(--main-color-blue-)
}

.section-hero {
    background: #2F303A;
    padding: 200px 0;
    text-align: center;
    
}
.hero-title {
font-weight: 900;
display: grid;
font-size: 44px;
line-height: 1.36;
text-align: center;
letter-spacing: 0.06em;
text-transform: uppercase;
color: var(--main-color-);
margin-bottom: 30px;

}
.button-hero {
    font-family: inherit;
    font-weight: 700;
    width: 200px;
    height: 50px;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    color: var(--main-color-);
    background: var(--main-color-blue-);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    margin-left: auto;
    margin-right: auto;
}
.section-description {
    padding-top: 94px;
}
.description-list {
    display: flex;

}

.description-item:not( :last-child){
     margin-right: 30px;
}

.description-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #212121;
    margin-bottom: 10px;
}

.description-text {
    font-weight: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    
    width: 270px;
}
.aside-section {
    padding-bottom: 94px;
}
.aside-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
    margin-bottom: 50px;
}
.aside-list {

    display: flex;
}
.aside-item:not( :last-child){
    margin-right: 30px;
}
.section-team {
    background-color: #F5F4FA;
    padding-bottom: 94px;
}
.title-team {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
    margin-bottom: 50px;
}
.team-list {
    display: flex;
}

.team-img{

}
.team-item {
     background: var(--main-color-);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    width: 270px;
    height: 428px;
    
}
.team-item:not( :last-child){
margin-right: 30px;
}
.team-member-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 0.8;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
    margin-bottom: 10px;
    
}
.team-text {
    font-weight: normal;
    font-size: 16px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.03em;
   
}

.box-item{
    padding-top: 30px;
    padding-bottom: 30px;
}
.footer {
padding-bottom: 60px;
padding-top: 60px;
background-color:#2F303A;
}

.section-option {
}
.option-list {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}
.option-item {
    background: var(--main-color-);
    border-radius: 4px;
   
}

.option-item:not( :last-child){
 margin-right: 94px;
}

.option-item:not(:last-child){
 margin-right: 8px;
}

.button-option:hover,
.button-option:focus{
    background: var(--main-color-blue-);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    color: var(--main-color-);
    cursor: pointer;
}




.button-option{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    cursor:pointer;
    
}

.section-gallary {
    padding-top: 95px;
    padding-bottom: 94px;
}
.pre-title-gallary {
}
.gallary-list {
}
.gallary-item {
    width: 370px;
    height: 404px;
    left: 215px;
    top: 262px;
    margin-right: 30px;
    background: #FFFFFF;
    border: 1px solid #EEEEEE;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

}


.gallary-box{
display: flex;
}

.gallary-item:nth-child(3n + 3){
    margin-right: 0;
}

.gallary-item:nth-child(6n + 1){
    margin-bottom: 30px;
}

.title-gallary {


font-weight: 700;
font-size: 18px;
line-height: 2;
letter-spacing: 0.06em;
color: #212121;
}
.gallary-text { 
font-weight: normal;
font-size: 16px;
line-height: 1.87;
letter-spacing: 0.03em;
}

.address{
    font-style: normal;
    
    
}

.address-link{
    color: var(--main-color-);
    margin-right: 215px;
}

.footer-logo{
  font-family: Raleway;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--main-color-blue-);
    justify-content: center;
    align-items: center;
    display: inline-block;
    margin-bottom: 20px;
}

.section-gallary{
    padding-top: 94px;
    padding-bottom: 94px;
}

.logo-color{
    color: var(--main-color-);
}

.footer-list{
    
    margin-bottom: 9px;
}